<div class="ui-datatable ui-widget">
    <div class="ui-datatable-tablewrapper">
        <table [ngClass]="{ 'scrollable': isScrollable() }">
            <thead class="ui-datatable-thead">
                <tr class="ui-state-default">
                    <th *ngFor="let col of cols" [ngStyle]="col.style" class="ui-state-default ui-unselectable-text" [ngClass]="{ 'ui-sortable-column': col.sortable}"
                        (click)="toggleSort(col)">
                        <span class="ui-column-title">{{col.header}}</span>
                        <span *ngIf="col.sortable" [ngClass]="['ui-sortable-column-icon', 'fa', 'fa-fw', 'fa-sort', 'fa-sort-' + col.sortOrder]">
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody class="ui-datatable-data ui-widget-content" [ngStyle]="{'max-height': isScrollable() ?scrollHeight:''}">
                <tr *ngIf="!dataView || dataView.length === 0">
                    <td [colSpan]="cols.length">{{emptyMessage}}</td>
                </tr>
                <tr *ngFor="let row of dataView; let i = index;" 
                    [ngClass]="{ 'ui-widget-content':true, 'ui-datatable-even':i % 2 === 0, 'ui-datatable-odd':i%2=== 1, 'ui-state-highlight': row === selection }"
                    (click)="selectRow(row)" mwRow [cols]="cols" [row]="row">
                </tr>
            </tbody>
        </table>
        <div *ngIf="paginator" class="ui-paginator-bottom ui-paginator ui-widget ui-widget-header ui-unselectable-text">
            <a class="ui-paginator-first ui-paginator-element ui-state-default ui-corner-all" [ngClass]="{'ui-state-disabled': page === 0}"
                (click)="setPage(0)">
                <span class="fa fa-step-backward"></span>
            </a>
            <a class="ui-paginator-prev ui-paginator-element ui-state-default ui-corner-all" [ngClass]="{'ui-state-disabled': page === 0}"
                (click)="setPage(page-1)">
                <span class="fa fa-backward"></span>
            </a>
            <span class="ui-paginator-pages">
            <a *ngFor="let pg of shownPages()" 
            [ngClass]="{'ui-state-active': pg === page}"
            class="ui-paginator-page ui-paginator-element ui-state-default ui-corner-all" (click)="setPage(pg)">{{pg+1}}</a>
            </span>
            <a class="ui-paginator-next ui-paginator-element ui-state-default ui-corner-all" [ngClass]="{'ui-state-disabled': page === lastPage()}"
                (click)="setPage(page+1)">
                <span class="fa fa-forward"></span>
            </a>
            <a class="ui-paginator-last ui-paginator-element ui-state-default ui-corner-all" [ngClass]="{'ui-state-disabled': page === lastPage()}"
                (click)="setPage(lastPage())">
                <span class="fa fa-step-forward"></span>
            </a> {{cols.length}}

            <select *ngIf="rowsPerPageOptions" [(ngModel)]="rowsPerPage" class="ui-paginator-rpp-options ui-widget ui-state-default"
                (ngModelChange)="rowsPerPageChanged()">
                <option *ngFor="let o of rowsPerPageOptions" [value]="o">{{o}}</option>
                <option [value]="ALL_ROWS">Wszystkie ({{currentRowCount}})</option>
            </select>
        </div>
    </div>
</div>