<div id="main-div">
    <input type="text" #gf />

    <select [(ngModel)]="option" placeholder="Tabelka">
<option *ngFor="let o of options" [value]="o.code">
{{o.txt}}
</option>
</select>
    <button type="button" (click)="reload()">Reload</button>
    <button type="button" (click)="clean()">Clean</button>
    <button type="button" (click)="add()">Add</button>


    <div class="selected">
        <ng-container *ngIf="selected">{{selected.id}} {{selected.sval}}</ng-container>
    </div>

    <p-dataTable *ngIf="option === 'primeng'" [value]="rows" [paginator]="true" [pageLinks]="5" selectionMode="single" [rows]="10"
        [rowsPerPageOptions]="[10,20,30]" [globalFilter]="gf">
        <p-column field="id" header="Id" [style]="{ width: '100px'}"></p-column>
        <p-column field="sval" [sortable]="true" header="String value" [style]="{ width: '300px'}">
            <ng-template let-r="rowData" pTemplate="body">
                {{r.sval | uppercase }}
            </ng-template>
        </p-column>
        <p-column field="nval" header="Num value" [sortable]="true"></p-column>
        <p-column field="aval" header="Arr value"></p-column>
    </p-dataTable>

    <mw-table *ngIf="option === 'my'" [data]="rows" [paginator]="true" [scrollable]="false" scrollHeight="400px" [pageLinks]="5"
        [scrollableRowsPerPageThreshold]="10"
        [rowsPerPageOptions]="[10,20,30,500]" (afterDataChange)="afterTableChanged($event)" [rowsPerPage]="10" [globalFilter]="gf"
        [(selection)]="selected" emptyMessage="Brak rekordów" #myTable>
        <mw-col field="id" header="Id" [style]="{ width: '100px'} "></mw-col>
        <mw-col field="sval" header="String value" [sortable]="true" [style]="{ width:'300px' }">
            <ng-template let-r="rowData" mwTemplate="body">
                {{r.sval | uppercase }}
            </ng-template>
        </mw-col>
        <mw-col field="nval" header="Num value" [sortable]="true" [style]="{width: '200px'}"></mw-col>
        <mw-col field="aval" header="Arr value" [sortable]="true" [style]="{width: '200px'}">
        </mw-col>
    </mw-table>
</div>