<div id="main-div">
<input type="text" #gf />

<!--<p-dataTable [value]="rows" [paginator]="true" [rows]="2">
    <p-column field="id" header="Id" [style]="{ width: '100px'}"></p-column>
    <p-column field="sval" [sortable]="true" header="String value" [style]="{ width: '300px'}">
        <ng-template let-r="rowData" pTemplate="body">
            {{r.sval | uppercase }}
        </ng-template>

    </p-column>
    <p-column field="nval" header="Num value"></p-column>
    <p-column field="aval" header="Arr value"></p-column>
</p-dataTable>-->

<mw-table [data]="rows" paginator="true">
    <mw-col field="id" header="Id" [style]="{ width: '100px'} "></mw-col>
    <mw-col field="sval" header="String value" [sortable]="true" [style]="{ width:'300px' }">
        <ng-template let-r="rowData" mwTemplate="body">
            {{r.sval | uppercase }}
        </ng-template>
    </mw-col>
    <mw-col field="nval" header="Num value" [sortable]="true"></mw-col>
    <mw-col field="aval" header="Arr value" [sortable]="true">
    </mw-col>
</mw-table>
</div>